* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

img {
  display: block;
}

@media (max-width: 980px) {
  .container {
    width: 90%;
  }
}
