.services {
  padding-top: 88px;
  padding-bottom: 115px;
}

.services__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 71px;
}

.content__title {
  font-family: "Open Sans Bold";
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.30625px;
  color: #48555b;
}

.content__title::after {
  content: "";

  display: block;
  width: 50px;
  height: 4px;
  margin-top: 10px;

  background-color: #00a4e5;
}

.content__text {
  display: flex;
  justify-content: space-between;
}

.text__desc {
  width: 405.4px;
  margin-right: 31.6px;

  font-family: "Open Sans Regular";
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #48555b;
}

.text__button {
  width: 150px;
  height: 40px;

  font-family: "Open Sans Bold";
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #ffffff;

  cursor: pointer;
  background: #00a4e5;
  border: none;
}

.text__button:hover {
  opacity: 0.9;
}

.text__button:active {
  opacity: 0.8;
}

.services__card {
  display: flex;
  gap: 28px;
}

.card__item {
  padding: 38px 22px 39px 23px;

  outline: 1px solid #e6e6e6;
}

.item__image {
  margin-bottom: 25px;
}

.item__title {
  margin-bottom: 13px;

  font-family: "Open Sans Bold";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.426667px;
  color: #48555b;
}

.item__text {
  font-family: "Open Sans Regular";
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555b;
}

@media (max-width: 940px) {
  .container-services {
    padding: 68px 20px 66px;
  }

  .services__content {
    flex-direction: column;
  }

  .content__title {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .content__title::after {
    margin: 0 auto;
    margin-top: 10px;
  }

  .content__text {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .text__desc {
    padding-right: 22px;
    padding-left: 23px;
    width: 100%;
    margin-right: 0;
  }

  .text__button {
    margin: 0 auto;
  }

  .services__card {
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
  }
}
