.container-about {
  padding-top: 68px;
  padding-bottom: 40px;
}

.about__title {
  display: block;
  margin-bottom: 81px;

  font-family: "Open Sans Bold";
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.30625px;
  text-align: center;
  color: #48555b;
}

.about__title::after {
  content: "";

  display: block;
  margin: 0 auto;
  width: 50px;
  height: 4px;
  margin-top: 11px;

  background-color: #00a4e5;
}

.about__content {
  display: flex;
}

.content__left {
  width: 42.5%;
}

.left__title {
  margin-bottom: 30px;

  font-family: "Open Sans Bold";
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1875px;
  color: #48555b;
}

.left__word {
  color: #16ace8;
}

.left__text {
  font-family: "Open Sans Regular";
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555b;
}

.content__right {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  width: 57.5%;
}

.right__card {
  position: relative;
}

.card__text {
  position: absolute;
  top: 15px;
  left: 15px;

  max-width: 108px;

  font-family: "Open Sans Bold";
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  color: #ffffff;
}

@media (min-width: 375px) and (max-width: 980px) {
  .container-about {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 375px) and (max-width: 940px) {
  .about__content {
    flex-direction: column;
  }

  .content__left,
  .content__right {
    margin: 0 auto;
  }

  .content__right {
    justify-content: space-between;
  }

  .left__text {
    margin-bottom: 30px;
  }
  .content__left {
    width: 80%;
  }
  .about__title {
    margin-bottom: 40px;
  }
}

@media (min-width: 375px) and (max-width: 840px) {
  .content__right {
    flex-wrap: wrap;
  }

  .right__card {
    margin: 0 auto;
  }
}
