.newsletter {
  background-color: #171819;
}

.container-newsletter {
  padding: 30px 128px;
  display: flex;
  justify-content: space-between;
}

.newsletter__title {
  font-family: "Open Sans Bold";
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.846154px;
  color: #ffffff;
}

.newsletter__input {
  font-size: 0;
}

.input__email {
  width: 250px;
  height: 40px;
  padding-left: 16px;

  font-family: "Open Sans Regular";
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.07px;
}

.input__button {
  box-sizing: border-box;
  width: 150px;
  height: 40px;

  font-family: "Open Sans Bold";
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;

  cursor: pointer;
  background: #00a4e5;
  border: none;
}

.input__button:hover {
  opacity: 0.9;
}

.input__button:active {
  opacity: 0.8;
}

@media (min-width: 375px) and (max-width: 890px) {
  .container-newsletter {
    flex-direction: column;
    padding: 30px 20px;
  }

  .newsletter__title,
  .newsletter__input {
    margin: 0 auto;
  }

  .newsletter__title {
    margin-bottom: 20px;
  }
}

@media (min-width: 375px) and (max-width: 500px) {
  .input__email {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .input__button {
    display: block;
    margin: 0 auto;
    width: 250px;
  }
}
