.get-in-touch {
  background: url("../images/bg-get-in-touch.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .get-in-touch {
    background-image: url("../images/bg-get-in-touch-2x.jpg");
  }
}

.get-in-touch {
  padding-top: 120px;
  padding-bottom: 0;
}

.get-in-touch__title {
  margin: 0 auto;
  margin-bottom: 35px;
  width: 350px;

  font-family: "Open Sans Bold";
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #48555b;
}

.get-in-touch__button {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 40px;

  font-family: "Open Sans Bold";
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;

  cursor: pointer;
  background: #00a4e5;
  border: none;
}

.get-in-touch__button:hover {
  opacity: 0.9;
}

.get-in-touch__button:active {
  opacity: 0.8;
}

.get-in-touch__fix {
  margin-top: 230px;
  height: 1px;
  width: 100%;
  background-color: #171819;
}

@media (max-width: 940px) {
  .get-in-touch {
    padding-top: 100px;
  }
}
